body{
    background-color: #a6ede0;
    font-family: 'Walter Turncoat', cursive;
    
    background-image: url("Chalkboard.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 100vh;
    margin: 0;
}
#title{
    margin-top: 3%;
    text-align: center;
    color: #ffffff;
    font-family: 'Walter Turncoat', cursive; 
}
#content {
    
    color: azure;
    margin-top: 1%;
    width: 100vh;
    min-height: 60vh;
    background-color: #013d32;
    padding: 2vw;
     
    border:"border-end";
    border-color: #40280f;
    border-width: 10px;
    border-radius: 5px;
    border-style: solid;
}
a {
    margin: auto 10px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;   
    color: inherit;          
    display: inline-flex;    
    align-items: center;
    padding: 0;             
}


#Open_Add_Modal_btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;  
    height: 60px; 
    border-radius: 30px; 
    margin: 0 auto 25px auto; 
    
    
    background-color: transparent;
    border: 2px dashed #fff; 
    color: #fff;
    
    cursor: pointer;
    overflow: hidden; 
    
    
    transition: width 0.4s ease-in-out, background 0.3s;
}
#Open_Add_Modal_btn .icon {
    font-size: 5vh;
    font-weight: bold;
    transition: transform 0.4s ease; 
    flex-shrink: 0; 
}
#Open_Add_Modal_btn .text {
    white-space: nowrap; 
    opacity: 0; 
    max-width: 0; 
    margin-left: 0;
    font-size: 2vh;
    font-weight: bold;
    transition: all 0.4s ease; 
}
#Open_Add_Modal_btn:hover {
    width: 240px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-style: solid; 
}
#Open_Add_Modal_btn:hover .icon {
    transform: rotate(90deg); 
}
#Open_Add_Modal_btn:hover .text {
    opacity: 1;
    max-width: 200px; 
    margin-left: 10px; 
}

#students_list_view{
    display: block;
    justify-content: space-between;
    text-align: left;
    margin-top: 2vw;
    max-height: 25vw;
    overflow-y: auto;
    overflow-x: hidden;
    
}
#students_list_view::-webkit-scrollbar {
    width: 10px;
}
#students_list_view::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
}
#students_list_view::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 5px;
    opacity: 0.7;
    border: 1px solid #013d32; 
}
#students_list_view::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0; 
}

#student_bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 1vw;
    padding: 10px 0px 10px 0; 
    border-radius: 5px; 
    color: white;
}
.separator{
    margin: 5px 0;
    color: rgba(255,255,255,0.5);
}
#std_name, #std_age {
    white-space: nowrap; 
    margin: 0; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
}
.modal > div {
    position: relative;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 10px; 
    width: 400px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
    text-align: center;
}
.close_btn {
    position: absolute; 
    top: 0;    
    right: 0;  
    text-align: center;
    font-size: 28px; 
    font-weight: bold;
    background-color: #c0c0c0;
    color: #000000; 
    cursor: pointer; 
    transition: 0.3s; 
    line-height:1 ; 
    width: 30px;
    border-radius: 5px;
    
}
.close_btn:hover {
    color: #ffffff;
    background-color: #d9534f ; 
}
.Submit_btns {
    width: 100%; 
    padding: 12px;
    background-color: #2ecc71; 
    color: white; 
    border: none; 
    border-radius: 6px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
    transition: all 0.3s ease; 
    margin-top: 10px;
}
.Submit_btns:disabled{
    background-color: #95a5a6; 
    cursor: not-allowed; 
    transform: none !important; 
    box-shadow: none !important; 
    opacity: 0.7;
}
.Submit_btns:not([disabled]):hover{
    background-color: #27ae60; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}


.Student_Form input {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#Shared_Update_Modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    justify-content: center; 
    align-items: center;     
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.open-update-modal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;  
    height: 40px; 
    
    border:none;
    border-radius: 30px;
    
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden; 
    transition: width 0.4s ease-in-out, background 0.3s;
}
.open-update-modal-btn .icon{
    font-size: 6vh;
    font-weight: bold;
    transition: transform 0.4s ease; /* عشان يدور */
    flex-shrink: 0; /* يمنع العلامة من أنها تنعفط */

}
.open-update-modal-btn .text{
    white-space: nowrap; 
    opacity: 0; 
    max-width: 0; 
    margin-left: 0;
    font-size: 2vh;
    font-weight: bold;
    transition: all 0.4s ease; 
}
.open-update-modal-btn:hover{
    width: 150px; /* يتوسع الزر ليصبح عريض */
    background-color: rgba(255, 255, 255, 0.1); /* خلفية خفيفة */
    border-style: solid; /* يتحول الخط من متقطع لمتصل */
}
.open-update-modal-btn:hover .text{
    opacity: 1; /* يظهر النص */
    max-width: 200px; /* نعطيه مساحة يطلع فيها */
    margin-left: 10px; /* مسافة بينه وبين الزائد */
}
.open-update-modal-btn:hover .icon{
    transform: rotate(90deg);
}


.open-delete-modal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;  
    height: 40px; 
    
    border:none;
    border-radius: 30px;
    
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden; 
    transition: width 0.4s ease-in-out, background 0.3s;
}
.open-delete-modal-btn .icon{
    font-size: 6vh;
    font-weight: bold;
    transition: transform 0.4s ease; /* عشان يدور */
    flex-shrink: 0; /* يمنع العلامة من أنها تنعفط */

}
.open-delete-modal-btn .text{
    white-space: nowrap; 
    opacity: 0; 
    max-width: 0; 
    margin-left: 0;
    font-size: 2vh;
    font-weight: bold;
    transition: all 0.4s ease; 
}
.open-delete-modal-btn:hover{
    width: 150px; /* يتوسع الزر ليصبح عريض */
    background-color: rgba(255, 255, 255, 0.1); /* خلفية خفيفة */
    border-style: solid; /* يتحول الخط من متقطع لمتصل */
}
.open-delete-modal-btn:hover .text{
    opacity: 1; /* يظهر النص */
    max-width: 200px; /* نعطيه مساحة يطلع فيها */
    margin-left: 10px; /* مسافة بينه وبين الزائد */
}
.open-delete-modal-btn:hover .icon{
    transform: rotate(90deg);
}